<%= button_to "Back", displayUser_path, :method => :get, class: "btn" %>

<h1> <%= @user %> </h1>
<h2> <%= "#" + @measurements[0].trainingID.to_s %> </h2>
<h2> Start: <%=  @measurements.first.myDate %> </h2>
<h2> End: <%=  @measurements.last.myDate %> </h2>
<h2> Duration: <%= Time.at(@measurements.last.myDate - @measurements.first.myDate).utc.strftime("%H:%M:%S") %> </h2>

<h2> Height</h2>
<%= line_chart @measurements.pluck(:myDate, :latitude), xtitle: "Time", ytitle: "Height" %>
<h2> Speed </h2>
<%= line_chart @measurements.pluck(:myDate, :longitude), xtitle: "Time", ytitle: "Speed" %>




